{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<link href='{% static "location/normalize.css" %}' rel="stylesheet">
		<link href='{% static "location/map.css" %}' rel="stylesheet">
		<link href='{% static "location/pannellum.css" %}' rel="stylesheet">
	</head>

	<body class="body">
		<img id="mainmap" src="/media/map/main.png">
		{# {% for location in locations %} #}
			<!--span id="shape_{{ location.num }}" class="shape" style="top:{{ location.top }}px; left:{{ location.left }}px;">
			{{ location.num }}</span-->
		{# {% endfor %} #}
		{# {% for seat in seats %} #}
			<!--span id="shape_{{ seat.num }}" class="shape" style="top:{{ seat.top }}px; left:{{ seat.left }}px;">
			<img id="flag" src="/media/map/flag.gif">{{ seat.num }}</span-->
		{# {% endfor %} #}
		<div id="cams">
			<img class="cam" id="cam_1" src="/media/map/cam.png" style="top:44px; left:44px">
			<img class="cam" id="cam_2" src="/media/map/cam.png" style="top:55px; left:171px">
			<img class="cam" id="cam_3" src="/media/map/cam.png" style="top:44px; left:298px">
			<img class="cam" id="cam_4" src="/media/map/cam.png" style="top:135px; left:280px">
			<img class="cam" id="cam_5" src="/media/map/cam.png" style="top:238px; left:280px">
			<img class="cam" id="cam_6" src="/media/map/cam.png" style="top:214px; left:171px">
			<img class="cam" id="cam_7" src="/media/map/cam.png" style="top:195px; left:44px">
			<img class="cam" id="cam_8" src="/media/map/cam.png" style="top:135px; left:62px">
		</div>
		<img id="man" src="/media/map/man.gif">
		<img id="seat" src="/media/map/flag.gif">
		
		<div id="panoramas">
			{% for cam in cams %}
			<div class="panorama_container" id="panorama_container_{{ cam }}">
				<div class="panorama" id="panorama_{{ cam }}">
				</div>
				<button class="button">Close</button>
			</div>
			{% endfor %}
		</div>
		<div id="shapes">
		</div>
		<div id="shelfs">
			{% for shelf in shelfs %}
			<img class="shelf" id="shelf_{{ shelf }}" src="/media/map/bookshelf/bookshelf_{{ shelf }}_1.png">
			{% endfor %}
		</div>
		
		<script src='{% static "bower_components/jquery/dist/jquery.min.js" %}'></script>
		<script src='{% static "location/pannellum.js" %}'></script>
		<script src='{% static "location/map.js" %}'></script>
	</body>
	
</html>